@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EmployeeManagementSystem</title>
    <link rel="stylesheet" href="~/lib/jquery/jquery.js" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

@{
    var user = new User();
    var userCookie = HttpContextAccessor.HttpContext!.Request.Cookies["User"];
    if (userCookie != null)
    {
        user = JsonConvert.DeserializeObject<User>(userCookie!);
    }
}

<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="d-flex flex-column justify-content-between bg-danger col-auto col-md-2 min-vh-100">
                <div class="bg-danger p-2">
                    <a class="d-flex text-decoration-none align-items-center mt-1">
                        <span class="fs-4 d-none d-sm-inline text-light">EMS</span>
                    </a>
                    <ul class="nav nav-pills flex-column mt-4">
                        <li class="nav-item py-2">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-house-fill fs-4"></i> Početna</a>
                        </li>
                        <li class="nav-item py-2">
                            <a class="nav-link text-light" asp-area="" asp-controller="Employee" asp-action="Index"><i class="bi bi-person-fill fs-3"></i> Zaposleni</a>
                        </li>
                        <li class="nav-item py-2">
                            <a class="nav-link text-light" asp-area="" asp-controller="Department" asp-action="Index"><i class="bi bi-buildings-fill fs-4"></i> Sektor</a>
                        </li>
                        <li class="nav-item py-2">
                            <a class="nav-link text-light" asp-area="" asp-controller="JobRole" asp-action="Index"><i class="bi bi-buildings-fill fs-4"></i> Poslovne pozicije</a>
                        </li>
                    </ul>
                </div>
                @if (!string.IsNullOrEmpty(user!.Email))
                {
                    <div>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-item nav-link text-light">@user.Email</a>
                                <a class="nav-item nav-link text-light" asp-controller="User" asp-action="Logout">Izloguj se</a>
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    <div>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-item nav-link text-light" asp-controller="User" asp-action="Login">Prijavite se</a>
                                <a class="nav-item nav-link text-light" asp-controller="User" asp-action="Index">Registrujte se</a>
                            </li>
                        </ul>
                    </div>
                }
           
            </div>
            <div class="container text-center">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
  
   @*  <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - EmployeeManagementSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
