@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2 mt-5">Dobrodosli u EMS</h1>
    <br />
    <h2 class="display-3 mt-2 pb-4">Molim Vas prijavite se kako biste koristili aplikaciju</h2>
    <br />
</div>
